{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
					{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
			</nav>
			{{ end }}
			{{ end }}
		</div>
			<div class="meta">{{ dateFormat "2.01.2006" .Date }}{{ if .Draft }} <span class="draft-label">Rascunho</span> {{ end }}</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>


	</article>
	
	
{{ if or ( .PrevInSection ) ( .NextInSection ) }}
    <div class="pagination post-pagination">
        <div class="left pagination-item {{ if not .NextInSection }}disabled{{ end }}">
            {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink | relLangURL }}"> 
                <span> {{ .NextInSection.Title }} </span>
                 
                </a>
            {{ end }}
        </div>
        <div class="right pagination-item {{ if not .PrevInSection }}disabled{{ end }}">
            {{ if .PrevInSection }}

                <a href="{{ .PrevInSection.Permalink | relLangURL }}"> 
                <span>
                {{ .PrevInSection.Title }}
                </span>
                
                
                </a>
            {{ end }}
        </div>
    </div>
{{ end }}
</main>
{{ end }}
